@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --purple: #6070ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--purple);
}

.fa-bars {
  color: var(--purple);
  font-size: 22px;
}
